{
  "env": {
    "server": {
      "presets": [
        ["env", {
          "targets": {
            "node": "8"
          }
        }]
      ]
    },
    "client": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ]
    }
  },
  "plugins": ["transform-object-rest-spread"]
}
